* {
    margin: 0;
    padding: 0;
    border: 0;
}

html,body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Microsoft Yahei", serif;
    text-align: center;
}

.wrapper {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}


/* navigation bar */
.nav {
    background-color: white;
    opacity: 0.8;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

.nav_container {
    float: left;
    height: 72px;
    display: inline;
}

.navigation_list {
    min-width: 800px;
    padding-left: 80px;
    list-style-type: none;
    height: 100%;
}

.nav_item {
    display: inline;
    margin: auto 15px;
    height: 72px;
    line-height: 72px;
}

.selected {
    color: #0ae;
}

.nav_logo {
    padding-left: 60px;
    margin-top: -3px;
}

.nav_selected {
    color: #0ae;
}

.nav_unselected {
    color: #333;
}

.nav_unselected:hover {
    color: #0ae;
}

/* home page */
.main {
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.content {
    color: #fff;
    font-weight: 300;
    opacity: 0;
}

.major {
    font-size: 54px;
    letter-spacing: 2px;
}

.sub {
    font-size: 16px;
    line-height: 32px;
}

.page_icon {
    width: 100%;
}

.page_container {
    float: left;
    padding-top: 15%;
    width: 50%;
    position: relative;
}

/* first Page */
.first {
    display: block;
    background-image: url("http://www.jointem.com/images/banner01_bg.jpg");
}

/*.first .major {*/
    /*padding-top: 16%;*/
/*}*/

/*.first .sub {*/
    /*margin-top: 7%;*/
/*}*/

/*.first .page_icon {*/
    /*margin-top: 9%;*/
/*}*/

.left_icon {
    margin-right: 2%;
    width: 7%;
}

.middle_icon {
    width: 8%;
}

.right_icon {
    margin-left: 2%;
    width: 7%;
}


/*second page*/
.second {
    display: none;
    background-image: url("http://www.jointem.com/images/banner02_bg.jpg");
}

.second .left_page {
    text-align: right;
    margin-right: 30%;
}

.second .left_page img {
    width: 200px;
}

.second .right_page {
    text-align: left;
    padding: 10% 4%;
}

.second .right_page img {
    vertical-align: middle;
    margin: 20px 0 20px 100px;
    opacity: 0;
}

.second .major {
    vertical-align: middle;
    margin-left: 70px;
    font-size: 42px;
}


/*page controller*/
.page_controller {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 4%;
    margin: auto 0;
    height: 130px;
}

#page_list {
    list-style-type: none;
}

#page_list li {
    margin-top: 15px;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 30px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#next_page {
    cursor: pointer;
}

#copyright {
    display: none;
    text-align: center;
    color: #fff;
    font-size: 14px;
}


/*contact way*/
#contact {
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 600px;
    height: 100px;
    /*background-color: #1e1b29;*/
    /*opacity: 0.52;*/
    background: rgba(30,27,41, 0.52);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#841e1b29, endColorstr=#841e1b29);
    z-index: 100;
    border-radius: 10px;
}

.contact_container {
    /*background-color: white;*/
    /*opacity: 0.15;*/
    background: rgba(255,255,255, 0.15);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#26ffffff, endColorstr=#26ffffff);
    color: white;
    float: left;
    margin: 10px 0 10px 10px;
    width: 80px;
    height: 80px;
    font-size: small;
    position: relative;
}

.contact_element_container {
    position: absolute;
    width: 66px;
    height: 66px;
    /*two way that make the element in the middle*/
    /*first way: have to know the width of the element */
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin-left: -33px;*/
    /*margin-top: -33px;*/

    /*second way: using auto margin */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    cursor: pointer;
}

.contact_container > img {
    width: 80px;
    height: 80px;
    display: none;
}

#contact_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 23px;
    height: 23px;
    cursor: pointer;
    background: rgba(255,255,255, 0.4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66ffffff, endColorstr=#66ffffff);
    border-radius: 0 10px 0 0;
}

#contact_tel {
    width: 200px;
    font-size: large;
    font-weight: 300;
    position: relative;
}

#contact_tel div {
    margin-top: 5px;
}

#contact_tel div > img, #contact_tel div > span {
    vertical-align: middle;
}

#contact_tel p {
    margin-top: 20px;
}